@model MvcDemo.Models.CustomerSearchModel

@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>

<p>
    @Html.ActionLink("New customer", "New", "Customer")
</p>
<p>
    Search existing
</p>
<p>
    @using (Html.BeginForm("Search", "Customer"))
    {
        @Html.LabelFor(m => m.CustomerName)
        <br />
        @Html.TextBoxFor(m => m.CustomerName, new { autocomplete = "off" })
    }
</p>
<ul id="result-list"></ul>

@section scripts{
    <script src="~/Scripts/Views/SearchCustomer.js"></script>
}