@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p>
        @Html.ActionLink("List customers", "Index", "Customer")
    </p>
    <p>
        @Html.ActionLink("New customer", "New", "Customer")
    </p>
    <hr />
    <p>
        @Html.ActionLink("Dropdown / AJAX", "Index", "DropDown")
    </p>
</div>
